<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/navbar.ejs") %>

  <div>
    <h2>About Us</h2>
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Doloribus, architecto. Hic unde, tenetur id, ipsam, dolor 
     aperiam autem illum sit magni facilis impedit reprehenderit. 
     Quo fugiat autem quam quas?</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>
</body>
</html>