<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>Add new blogs</h1>
    <div>
        <form action="/blogs" method="POST">
            <label for="title">Blog title: </label>
            <input type="text" placeholder="enter title" name="title" id="title">
            <label for="snippet">Blog snippet: </label>
            <input type="text" placeholder="enter snippet" name="snippet" id="snippet">
            <label for="body">Blog body</label>
            <input type="text" placeholder="enter body" name="body" id="body">

            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
</body>
</html>